body {
    color: rgb(97, 216, 97);
    background: rgb(189, 197, 73);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(101, 199, 133);
    padding: 20px;
    font-size: 32px;
    color: rgb(95, 48, 109);
}

section {
	background: rgb(218, 221, 25);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}